[submodule "java/box-keycloak"]
	path = java/box-keycloak
	url = git@github.com:offer-in/box-keycloak.git
[submodule "box-bff"]
	path = box-bff
	url = git@github.com:offer-in/box-bff.git
[submodule "packages/rntk-ui"]
	path = packages/rntk-ui
	url = git@github.com:offer-in/rntk-ui.git
